body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    width: 250px;
    /* width: max-content; */
  }
  
  form {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 20px;
    width: 250px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

#saveDataButton, #loadDataButton, #clearDataButton {
  margin-top: 5px;
}